    /* to check finish */
    .headH1{
        display: inline-block;
        padding: 13px;
        position: relative;
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h3{
        position: absolute;
        right: 12%;
        top: 5%;
        margin: 0px;
        }
    .he{

        background-color: #e0a8d3;
       width: 100%;
    }
    
    
    .wrapper{
      
       
        background-color: rgb(104, 74, 104);
        width: 100%;     
       padding-bottom: 20px;
    }
    .profJd{
        width: 46%;
        outline: 5px solid silver;
        display: inline-block;
        position: relative;
        left: 2%;
        margin-top: 2%;
    }
    .h4{
        width: 100%;
        margin: 0px auto;
        background-color: rgb(165, 158, 158);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1%;
        color: white;
        text-align: inherit;
    }

    .allTxt{
        margin: 0px auto;
        width: 99%;
        padding: 1%;
        background-color: white;

    }
    
    .tsk{
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 5.65%;
        margin-top: 1.6%;
        width: 42%;
    }
    

    
    .laMode{
        width: 100;
        background-color: rgb(165, 158, 158);
        padding: 10px;
        color: white;
        margin-bottom: 0px;
    
    }
    .imgLaMode{
        width: 100%;
    }
    
    .txtLaMode{
        width: 98%;
        margin: -5px auto;
        margin-right: 0px;
        background-color: white;
        padding: 1%;
        margin-left: 0px;
    }
   
    .linksAndBtn{
        width: 100%;
        background-color: white;
    }
    .picLink{
        margin: 2%;
        text-decoration-style: none;
        width: 14%;
    }
    a{
        text-decoration: none;
        
    }
    button{
        background-color: green;
        border-radius: 7px;
        display: block;
        margin-left: 33%;
    }

    .triTx{
        display: inline-block;
        width: 28%;
        margin-left: 3%;
        position: relative;
        left: .6%;

    }
    
   .tec{
    width: 100%;
    background-color: rgb(165, 158, 158);
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
   }

   

    @media only screen and (max-width:650px){
        
        .smTriTx{
                width: 89%;
            left: 2.6%;
        }
        .smBtb{
            position: relative;
            left: 6%;
        }
    }


   @media only screen and (max-width:1024px){
        .midSecHe{
            position: inherit;
            text-align: center;
            padding-bottom: 5px;

        }
        .headH1{
            position: relative;
            display: block;
            text-align: center;
            padding: 0px;
        }
        .midTsk{
            display: block;
            left: 5.5%;
            margin-top: 3%;
            width: 88%;
        }
        .midProf{
            width: 88%;
            left: 6%;
        }
        

   }
   